.home {
  height: calc(100vh - 64px);
  background-color: #fff;

  .home-content {
    .ant-list-vertical {
      .ant-spin-container {
        .ant-list-items {
          .ant-list-item {
            flex-direction: row-reverse;

            .ant-list-item-main {
              .ant-list-item-meta-title {
                margin-bottom: 0;
              }
            }

            .ant-list-item-extra {
              min-width: 172px;
              margin: 0  20px 0 0;
            }
          }
        }
      }

      .ant-list-pagination {
        padding: 0 20px;
        text-align: left;
      }
    }
  }

  .ant-layout-sider {
    background-color: #fff;
    padding: 0 10px;
  }
}
